/*shared style*/
body{
    font-family: 'Open Sans', sans-serif;
    
}

.section-title{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
.sec-des{
    color: #757575;
text-align: center;
font-size: 18px;
font-weight: 400;

}

/*nav  realated styles*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
   
}
.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 700;
    font-weight: bold;
    
}
.text-primary{
    color: #FD6E0A;
}
nav>ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px
}
nav a{
    text-decoration: none;
    color: var(--dark-02, #474747);
}
.btn-primary{
    border-radius: 5px;
    background: #FD6E0A;
    color: white;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    padding: 18 35;

}

/*header related section*/
.header{
    background-color:#FFF8F3;
    background-image: url('resourse/images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner{
padding: 30px 30px 0px 150px;
display: flex;


}
.btn-secondary{
    background-color:#FD6E0A ;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 700;
   
   
}
.btn{
    font-size: 20px;
    font-weight: 700;
    color: #464444;
    border: none;
    background-color:#FD6E0A ;
    color: white;
    
}
.banner-content{
    max-width: 500px;
    justify-content: space-between;
}
.banner.profile-pic{
    width: 500px;
    height: 600px;
    
}
.banner-greeting{
    font-size: 45px;
    margin-bottom: 0px;
}
.banner-title{
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;

}
.description{
    color:  #757575;
    font-size: 18px;
    font-weight: 400;

}

/*main sction*/
main{
    max-width: 1140px;
    margin: 0 auto;
}

   

/*about section*/
  
.about{
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 0px;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info{
text-align: center;
}

#what-i-do{
    padding: 30px 30px 150px;
}
  skill{
    padding: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    
}
.skill-container{
    display: flex;
    gap: 24px;
}
.skill-description{
color:  #757575;
font-size: 16px;
font-weight: 400;
}
/*resume*/
.resume-colum-title{
    color: #474747;
    font-size: 30px;
    font-weight: 700;

}
.resume-container{
    
    display: flex;
}
.resume-item-institute{
    

color:  #757575;
font-size: 16px;
font-weight: 400;

}
.resume-item-title{
    color:  #474747;
    font-size: 25px;
    font-weight: 700;
   }
.resume-descrition{
    color:  #757575;
    font-size: 16px;
    font-weight: 400;
    
}
.resume-item{
display: flex;
align-items: center;
gap: 50px;
}

.cv{
    color: rgb(253, 253, 252);
    border: none;
    background-color: #FD6E0A;
    margin: 10px;
    align-items: center;
    text-align: center;
    display: flex;
}
/*footer secton*/

footer{
    color:  #181818;
    font-size: 35px;
    font-weight: 700;
    display: flex;
    background: #FFF8F3;
    padding: 130px 230px;
    justify-content: space-around;
    gap: 100px;
    margin-top: 10px;
}
.section{
color:  #474747;
font-weight: 400;
line-height: 28px;
font-size: 16px;
}
.footer-colum{
    width: 50%;
}
.contact-from input{
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    color:  #757575;
    font-size: 16px;
    font-weight: 400;
    border-radius: 5px;
background:  #FFF;
border: none;
width: 100%;


}
#text{
    padding: 18px 35px;
    color:  #757575;
    font-size: 16px;
    font-weight: 400;
    border-radius: 5px;
     background:  #FFF;
     border: none;
     font-family: open sans;
    width: 100%;
    }
   

#sub{
    color:  #FFF;
    text-align: center;
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 700;
    border: none;
    background-color: #FD6E0A;
    border-radius: 5px;
}
.social-icon a{
    margin-right: 25px;
    background-color: #FFF;

}