/*shared style*/
body{
    font-family: 'Open Sans', sans-serif;
    
}

.section-title{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
.sec-des{
    color: #757575;
text-align: center;
font-size: 18px;
font-weight: 400;

}

/*nav  realated styles*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
   
}
.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 700;
    font-weight: bold;
    
}
.text-primary{
    color: #FD6E0A;
}
nav>ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px
}
nav a{
    text-decoration: none;
    color: var(--dark-02, #474747);
}
.btn-primary{
    border-radius: 5px;
    background: #FD6E0A;
    color: white;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    padding: 18 35;

}

/*header related section*/
.header{
    background-color:#FFF8F3;
    background-image: url('resourse/images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner{
padding: 30px 30px 0px 150px;
display: flex;


}
.btn-secondary{
    background-color:#FD6E0A ;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 700;
   
   
}
.btn{
    font-size: 20px;
    font-weight: 700;
    color: #464444;
    border: none;
    background-color:#FD6E0A ;
    color: white;
    
}
.banner-content{
    max-width: 500px;
    justify-content: space-between;
}
.banner.profile-pic{
    max-width: 500px;
    max-height: 600px;
}
.banner-greeting{
    font-size: 45px;
    margin-bottom: 0px;
}
.banner-title{
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;

}
.description{
    color:  #757575;
    font-size: 18px;
    font-weight: 400;

}

/*main sction*/
main{
    max-width: 1140px;
    margin: 0 auto;
}
.
   

/*about section*/
.about{
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 0px;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info{
text-align: center;
}
